html,
body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -160px;
	padding-bottom: 160px;
}

#content{
	margin-bottom: 3em;
}

footer {
  	background-color: #f5f5f5;
	padding-top: 2em;
}

footer div {
    line-height: 50px;
}
footer p {
    margin: 0;
}
